# Android
*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.dex

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
*.db

# General
.env
*.log
